$offWhite: #fffdfa;
$darkBlue: #00001a;
$gunMetal: #5e607a;
$red: #f15d51;
$sliver: #c5c6ce;
$yellow: #e9aa52;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Inter;
  src: url("/assets/fonts/Inter-VariableFont_slnt,wght.ttf");
}

body {
  background: $offWhite;
  font-size: 15px;
  line-height: 26px;
  font-family: Inter;
  color: $gunMetal;
}

.mobile {
  display: block;
}

.desktop {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}
#wrapper {
  max-width: 1110px;
  padding: 0px 20px;
  margin: 0px auto;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
}
.active {
  &:after {
    display: block;
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  .headerNav {
    transform: translateX(0);
  }
}
.headerNav {
  position: fixed;
  inset: 0 0 0 auto;
  background: #fff;
  width: 75%;
  transform: translateX(100%);
  transition: all 500ms;
  z-index: 10;
  .closeNav {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  height: 100%;
  padding: 0px 20px;
  list-style: none;
  a:link,
  a:visited {
    text-decoration: none;
    color: $darkBlue;
  }
  a:hover{
    color:$red;
  }
}

#latest {
  display: grid;
  grid-template-columns: 1fr;
  gap:20px;
}
.featuredLatest { 
  .featuredLatestEntry {
    padding: 20px 0px 0px 0px;
    display: grid;
    grid-template-columns: 1fr;
    gap:20px;
    h2 {
      font-size: 42px;
      color: $darkBlue;
      line-height: 1;
      font-weight: 800;
    }
    .readmore{
      background: $red;
      color:white;
      padding: 15px 40px;
      margin-top:20px;
      border:none;
      text-transform: uppercase;
      letter-spacing: 3px;
      &:hover{
        background: $darkBlue;
      }
    }
  }
}
.latestWidget{
  background: $darkBlue;
  padding: 25px;
  h2{
    font-size: 32px;
    color: $yellow;
    font-weight: 700;
    padding:0px 0px 20px 0px;
  }
  .widgetItem{
    padding: 20px 0;
    border-bottom:1px solid #5E607A;
    h3{
      color: $offWhite;
      font-size: 20px;
      margin-bottom: 10px;
      &:hover{
        color: $yellow;
      }
    }
    p{
      color: $sliver;
    }
    &:last-child{
      border:none;
    }
  }
}

#featured{
  padding: 30px 0px;
  display: grid;
  grid-template-columns: 1fr;
  gap:20px
}
.featuredItem{
  display: grid;
  grid-template-columns: 100px auto;
  gap:25px;
  .count{
    font-size: 32px;
    font-weight: 700;
    color:silver;
    margin-bottom:15px;
  }
  h3{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    color: $darkBlue;
    &:hover{
      color: $red;
    }
  }
}

@media screen and (min-width:760px){
  .mobile {
    display: none;
  }
  
  .desktop {
    display: block;
  }
  #header{
    padding:50px 0px;
  }
  .headerNav{
    position: relative;
    transform: none;
  }
  .menu{
    flex-direction: row;
    justify-content: flex-end;
    padding: 0px 0px;
  }
  #latest{
    grid-template-columns: 2fr 1fr;
  }
  .featuredLatest { 
    .featuredLatestEntry {
      grid-template-columns: 1fr 1fr;

    }
  }
  #featured{
    grid-template-columns: repeat(3,1fr);
    padding:50px 0px;
  }
}